@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter:wght@400;600;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Doto:wght@100..900&family=Inter:wght@400;600;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #235c9b;
  --secondary-color: #d4d8ff;
  --placeholder-color: #6b72b6;
  --label-color: #282c52;
  --font-color: #0000;
  --highlight-background: #f8f8fb;
  --deafault-background: #fff;
  --input-font-size: 0.875rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", "sans-serif";
}

#sign-in__page {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

#sign-in__page section:first-child {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-in__page form {
  flex: 2;
  width: calc(100vw - var(--left-column-width));
  background-color: var(--highlight-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-in__page form > div {
  width: 22.375rem;
}

.rocket {
  width: 28rem;
  height: 31rem;
}

#slogan {
  font-family: "Poppins", "sans-serif";
  font-size: 1.5rem;
}

.slogan-desc {
  font-size: 1.125rem;
}

.slogan-desc,
#slogan {
  font-weight: 500;
}

form {
  padding: 2rem;
}

form .header {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.header img {
  width: 3.8rem;
  height: 4rem;
}

.header h2 {
  color: var(--label-color);
  font-size: 1.375rem;
}

.form-control__group {
  margin-top: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
  color: var(--label-color);
}

label,
input::placeholder {
  font-size: var(--input-font-size);
}

.input-group {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--deafault-background);
}

.input-group input {
  border: none;
  height: 100%;
  flex: 1;
  padding: 0.8rem;
}

.form-control__group .input-group input:is(:active, :focus, :focus-visible) {
  outline-color: var(--primary-color);
}

/* input:is(:focus):invalid {
  outline: 1px solid red;
} */
.input-group input:is(:focus):invalid {
  outline: 1px solid red;
}

.input-group input::placeholder {
  color: var(--placeholder-color);
}

.input-group img:not(.captcha-img img) {
  width: 3.5rem;
  height: 100%;
  padding: 1rem;
  object-fit: contain;
}

#password-label {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;

  span a {
    color: inherit;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 0;
      width: 150%;
      border-bottom: 2px dotted var(--secondary-color);
    }
  }
}

.captcha-group {
  background-color: transparent;

  .captcha-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1rem;
  }

  .captcha-img img:first-child {
    background-color: var(--deafault-background);
  }

  input {
    max-width: 100px;
  }
}

.remember-me input {
  display: none;
}

.remember-me label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.remember-me label::before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
}

.remember-me input:checked + label::before {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

.remember-me input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0.45rem;
  width: 0.6rem;
  height: 50%;
  border: solid var(--primary-color);
  border-width: 0 0.2rem 0.2rem 0;
  transform: translateY(-65%) rotate(45deg);
}

button {
  width: 100%;
  max-width: 22.5rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 999rem;
  font-weight: 600;
  margin-block: 1rem;
}
button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--deafault-background);
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  a {
    color: var(--primary-color);
    text-decoration: none;
  }
}

.separator {
  position: relative;
  margin-top: 1rem;
}

.separator::before,
.separator::after {
  content: "";
  display: block;
  width: 10rem;
  border-top: 1px solid var(--placeholder-color);
  position: absolute;
  top: 50%;
}

.separator::before {
  transform: translate(20%, -50%);
}

.separator::after {
  transform: translate(-110%, -50%);
}

button:not([type="submit"]) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  * {
    font-size: 10px;
  }
}
