@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter:wght@400;600;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Doto:wght@100..900&family=Inter:wght@400;600;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --left-column-width: 52rem;

  --primary-color: #235c9b;
  --secondary-color: #d4d8ff;
  --placeholder-color: #6b72b6;
  --label-color: #282c52;
  --font-color: #0000;
  --highlight-background: #f8f8fb;
  --deafault-background: #fff;
  --input-font-size: 0.875rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", "sans-serif";
}

#sign-in__page {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

#sign-in__page section:first-child {
  width: var(--left-column-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-in__page form {
  width: calc(100vw - var(--left-column-width));
  background-color: var(--highlight-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-in__page form > div {
  width: 22.375rem;
}

.rocket {
  width: 28rem;
  height: 31rem;
}

#slogan {
  font-family: "Poppins", "sans-serif";
  font-size: 1.5rem;
}

.slogan-desc {
  font-size: 1.125rem;
}

.slogan-desc,
#slogan {
  font-weight: 500;
}

form {
  padding: 2rem;
}

form .header {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.header img {
  width: 3.8rem;
  height: 4rem;
}

.header h2 {
  color: var(--label-color);
  font-size: 1.375rem;
}

.form-control__group {
  margin-top: 2rem;
}

label {
  margin-bottom: 2rem;
  cursor: pointer;
}

label,
input::placeholder {
  font-size: var(--input-font-size);
}

.input-group {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--deafault-background);
}

.input-group input {
  border: none;
  height: 100%;
  flex: 1;
  padding: 0.8rem;
}

.input-group input:is(:active, :focus, :focus-visible) {
  border-color: var(--primary-color);
}

.input-group input::placeholder {
  color: var(--placeholder-color);
}

.input-group img {
  width: 3.5rem;
  height: 100%;
  padding: 1rem;
  object-fit: contain;
}
